*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::before, &::after{
        box-sizing: border-box;
    }
}

html, body{
    min-height: 100%;
}

html{
    font-size: 10px;
    overflow-x: hidden;
    background-color: $white;

    @media(max-width: $xl){
        font-size: 9px;
    }

    @media(max-width: $lg) {
        font-size: 8px;
    }

    @media(max-width: $md) {
        font-size: 8px;
    }
}

strong{
    font-weight: 700
}

button{
    border: none;
    background: none;
    font: inherit;
}

body{
    font-size: 1.6rem;
    min-width: 320px;
    position: relative;
    font-family: $jost;
    line-height: 1;
    font-weight: 400;
}

h1,h2,h3,h4,h5,p,ul,blockquote,ol{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    font-weight: 900;
}

h3{
    font-size: 2.6rem;
}

h4{
    font-size: 2.2rem
}

h5{
    font-size: 1.8rem
}

a, a:hover, a:focus{
    text-decoration: none;
}

figure{
    margin: 0;
    padding: 0;
}
a, button{
    transition: all 0.3s ease
}

a,button,input,textarea,select{
    &:focus{
        outline: none;
        text-decoration: none;
    }
}

ul{
    list-style: none
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
textarea{
    resize: none;
}
.footer{
    margin-top: auto;
}

img{
    display: block;
}
.hidden-md{
    @media(max-width: $md){
        display: none;
    }
}

.show-md{
    display: none;
    @media(max-width: $md){
        display: block;
    }
}
h1{
    font-size: 3.6rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.2rem;
}
.h3{
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $black33;
}

