//fonts
$jost: 'Jost';

//colors
$white: #fff;
$black33: #333;
$red96: #960F19;
$gray92: #929AAB;
$green009: #009B00;
$whiteF5: #F5F5F5;
$whiteE0: #E0E0E0;
$white92: #929AAB;
// device-width
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

$font-Jost: 'Jost';

$transition: all 0.3s ease;