//fonts
$jost: 'Jost';

//colors
$white: #fff;
$black33: #333;
$red96: #960F19;
$gray92: #929AAB;
// device-width
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$font-Jost: 'Jost';

$color-main: #960F19;
$color-white: #fff;