.breadcrumbs{
    margin-bottom: 15px;
    &__links{
        display: inline-flex;
    }
    &__link{
        &:not(:last-child){
            margin-right: 5px;
        }
        span, i{
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-decoration-line: underline;
            color: $gray92;
            padding-right: 5px;
        }
        i{
            text-decoration-line: none;
            padding-right: 0;
        }
        &--current{
            span{
                color: $black33;
                text-decoration-line: none;
                font-weight: 500;
            }
            i{
                display: none;
            }
        }
    }
}