.delivery{
    padding: 75px 0 80px 0;
    &__title{
        margin-bottom: 35px;
        h2{
            font-size: 3.6rem;
            line-height: 4.0rem;
            color: $black33;
            font-weight: 500;
        }
    }
    &__method-title{
        margin-bottom: 35px;
        h3{
            font-size: 2.8rem;
            line-height: 3.4rem;
            color: $black;
            font-weight: 500;
        }
    }
    &__item{
        display: flex;
        padding-bottom: 15px;
        &:not(:last-child){
            margin-bottom: 20px;
            border-bottom: 1px solid $whiteE;
        }
        @media(max-width: $sm){
            flex-direction: column;
        }
    }
    &__item-icon{
        margin-right: 35px;
        @media(max-width: $sm){
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    &__item-title{
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: $black33;
        margin-bottom: 3px;
        font-weight: 500;
        @media(max-width: $sm){
            margin-bottom: 15px;
        }
    }
    &__item-price{
        p{
            font-size: 1.6rem;
            line-height: 3.2rem;
            color: $red96;
        }
        span{
            font-weight: 600;
        }
    }
    &__item-text{
        p{
            font-size: 1.6rem;
            line-height: 3.2rem;
            color: $black33;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
        &--red{
            p{
                color: $red96;
            }
        }
    }
    &__image{
        max-width: 350px;
        margin: auto;
        height: 100%;
        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;';
        }
        @media(max-width: $sm){
            display: none;
        }
    }
    &--background{
        background-color: $whiteE;
        .delivery__item{
            border-color: $whiteE0;
        }
    }
    &--no-pt{
        padding-top: 0;
    }
}