.footer{
    background-color: $gray92;
    color: $white;
    padding-top: 60px;
    @media (max-width:$lg) {
        padding-bottom: 40px;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        @media (max-width:$md) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__nav-wrp{
        display: flex;
    }
    &__logo{
        margin-bottom: 70px;
    }
    &__payment{
        @media (max-width:$md) {
            display:none;
        }
        &-text{
            margin-bottom: 10px;
            font-weight: 500;
        }
        &-wrp{
            display: flex;
        }
        &-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            width: 40px;
            height: 32px;
            margin-right: 2px;
        }
    }
    &__nav-wrp{
        width: 350px;
        display: flex;
        justify-content: space-between;
        @media (max-width:$lg) {
            justify-content: space-around;
        }
        @media (max-width:$md) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        @media (max-width:$sm) {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    &__nav{
        border-top: 1px solid #A8AEBC;
        border-bottom: 1px solid #A8AEBC;
        @media (max-width:$sm) {
            width: 100%;
            &:hover &-list{
                display: block;
                height: 150px;
            }
        }

        &-title{
            font-size: 1.8rem;
            font-weight: 500;
            margin-bottom: 20px;
            position: relative;
            &::before{
                position: absolute;
                content: "";
                right: 0;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
                width: 7px;
                height: 7px;
                border-right: 1px solid $white;
                border-bottom: 1px solid $white;
                transition: $transition;
            }
            &:hover:before{
                transform: translateY(-50%) rotate(-135deg);
            }
            @media(max-width:$md) {
                text-align: left;
                font-size: 16px;
            }
            @media (max-width:$sm) {
                padding-top: 15px;
                padding-bottom: 15px;
                margin-bottom: 0px;
            }
        }
        &-list{
            transition: $transition;
            @media (max-width:$md) {
                height: 0px;
                overflow: hidden;
            }
        }
        &-item{
            margin-bottom: 15px;
            
        }
        &-link{
            font-weight: 300;
            color: $white;
            &:hover{
                color: $white;
            }
        }
    }
    &__contacts{
        @media (max-width: $md) {
            display: flex;
            flex-direction: column;
        }
        &-title{
            font-size: 1.8rem;
            margin-bottom: 23px;
            @media (max-width:$md) {
                display: none;
            }
        }
        &-phone{   
            font-size: 1.8rem;
            padding-left: 30px;
            position: relative;
            margin-bottom: 10px;
            @media(max-width:$md){
                text-align: center;
                order:2;
                margin-bottom: 6px;
                padding-left: 0px;
                font-size: 2.3rem;
                display: inline-block;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 17px;
                height: 17px;
                background-image: url('../img/blocks/footer/svg/phone.svg');
                background-repeat: no-repeat;
                background-size: cover;
                @media(max-width: $md){
                    left: 35px;
                }
            }
        }
        &-order{
            margin-bottom: 26px;
            @media (max-width:$md) {
                order:4;
            }
        }
        &-mail{
            padding-left: 25px;
            position: relative;
            margin-bottom: 30px;
            @media (max-width:$md) {
                text-align: center;
                padding-left: 0px;
                order: 3;
                font-size: 2.3rem;
            }
            & p{
                display: inline-block;
                border-bottom: 1px dashed #FFFFFF;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 17px;
                height: 13px;
                background-image: url('../img/blocks/footer/svg/email.svg');
                background-repeat: no-repeat;
                background-size: cover;
                @media(max-width: $md){
                    left: 35px;
                }
            }
        }
    }
    &__social{
        display: flex;
        align-items: center;
        
        @media (max-width: $md) {
            justify-content: center;
            order: 1;
            margin-bottom: 17px;
        }
        &-button{
            margin-right: 8px;
        }
    }
    &__button{
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        width: 198px;
        height: 32px;
        border: none;
        background:none;
        border: 2px solid $white;
        transition: $transition;
        &:hover{
            background: $white;
            color: $red96;
        }
        @media(max-width: $md){
            width: 288px;
            height: 50px;
            font-size: 2rem;
        }

    }
    &__bottom{
        background: rgba(16, 16, 16, 0.05);
        margin-top: 50px;
        @media(max-width:$md){
            display: none;
        }
        &-wrp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 48px;
            font-size: 1.4rem;
            font-weight: 300;
            color: $whiteE0;
        }
        &--justify{
            display: flex;
            justify-content: space-between;
            width: 325px;
        }
        &-codification, &-map{
            border-bottom: 1px dashed $white;
            padding-bottom: 2px;
        }

    }

}

