.info{
    background-color: $whiteF5;
    padding: 70px 0 70px 0;
    &__title{
        display: flex;
        margin-bottom: 35px;
        h2{
            font-size: 2.8rem;
            line-height: 3.4rem;
            color: $black33;
            font-weight: 500;
            flex-grow: 1;
        }
    }
    &__title-icon{
        margin-right: 15px;
        @media(max-width: $md){
            display: none;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        @media(max-width: $md){
            flex-direction: column;
        }
    }
    &__text-wrp{
        padding-left: 10px;
        display: flex;
        width: 100%;
        max-width: 68.5%;
        flex-basis: 68.5%;
        @media(max-width: $xl){
            max-width: 64.5%;
            flex-basis: 64.5%;
        }
        @media(max-width: $md){
            max-width: 100%;
            flex-basis: 100%;
            padding-left: 0;
            margin-bottom: 20px;
        }
    }
    &__img{
        width: 8px;
        height: 100%;
        margin-right: 30px;
        img{
            display: block;
            height: 100%;
        }
        @media(max-width: $xl){
            display: none;
        }
    }
    &__text{
        p{
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $black33;
            &:not(:last-child){
                margin-bottom: 20px;
            }
        }
    }
    &__features{
        display: flex;
        flex-direction: column;
        max-width: 25.69%;
        flex-basis: 25.69%;
        @media(max-width: $xl){
            max-width: 31.69%;
            flex-basis: 31.69%;
        }
        @media(max-width: $md){
            max-width: 100%;
            flex-basis: 100%;
        }
    }
    &__feature-item{
        display: flex;
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
    &__feature-icon{
        background-color: $white;
        margin-right: 30px;
        height: 64px;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        flex-shrink: 0;
    }
    &__feature-text{
        display: flex;
        align-items: center;
        p{
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: $black33;
            font-weight: 600; //760 285
        }
    }
}