.reviews{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $whiteF5;
    position: relative;
    &__title{
        text-align: center;
        margin-bottom: 5px;
        @media(max-width:$sm){
            text-align: left;
            padding-bottom: 10px;
        }
        & h2{
            font-size: 2.8rem;
            font-weight: 500;
        }
    }
    &__subtitle{
        text-align: center;
        //border-bottom: 1px dashed $red96;
        margin-bottom: 40px;
        @media(max-width:$sm){
            text-align: left;
        }
        & p{
            font-size: 1.6rem;
        }
    }
    &__swiper-container{
        overflow: hidden;
    }
    &__wrp{
        display: flex;
        justify-content: space-between;
    }
    &__card{
        color: $black33;
        background-color: $white;
        max-width: 540px;
        padding-right: 60px;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 40px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
        @media(max-width:$sm){
            padding-right: 13px;
            padding-left: 13px;
        }
        &-wrp{
            align-self: flex-end;
            padding-bottom: 20px;
        }
        &-title{
            margin-bottom: 10px;
            & span{
                font-size: 1.8rem;
                color: $red96;
                font-weight: 700;
            }
        }
        &-subtitle{
            font-size: 1.6rem;
            line-height: 1.9rem;
            font-weight: 600;
            margin-bottom: 20px;
            &--gray{
                @media (max-width: $sm) {
                    //font-size: 12px;
                    font-weight: 400;
                    display: block;
                    opacity: .5;
                    margin-top: 5px;
                }
            }
            &--hidden{
                @media (max-width: $sm) {
                    display: none;
                }
            }
        }
        &-image{
            @media (max-width:$sm) {
                width: 40%;
                & img{
                    width: 100%;
                }
            }
        }
        &-text{
            margin-bottom: 40px;
            line-height: 19px;
        }
    }
    &__customer{
        font-weight: 600;
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url("../img/blocks/reviews/svg/customer-icon.svg");
            background-repeat: no-repeat;
            background-size: cover;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
    }
    &__swiper-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }
    &__swiper-wrp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        @media (max-width: $lg) {
            display: none;
        }
    }
    &__swiper-pagination{
        display: none;
        @media(max-width: $lg){
            display: block;
        }
    }
    &__swiper-button-next{
        transform: rotate(-45deg);
        height: 15px;
        width: 15px;
        border-bottom: 1px solid $gray92;
        border-right: 1px solid $gray92;
        display: none;
    }
    &__swiper-button-prev{
        transform: rotate(-45deg);
        height: 15px;
        width: 15px;
        border-top: 1px solid $gray92;
        border-left: 1px solid $gray92;
        display: none;
    }
    .swiper-pagination-bullet{
        opacity: .1;
        margin-right: 5px;
        margin-left: 5px;
    }
    .swiper-pagination-bullet-active{
        opacity: 1;
        background: $red96;
    }
    .swiper-slide{
        transition: $transition;
        opacity: .3;
    }
    .swiper-slide-active{
        transition: $transition;
        opacity: 1;
    }
}