.steps{
    background-image: url('../img/blocks/steps/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 80px 0;
    &__title{
        font-size: 2.8rem;
        line-height: 3.3rem;
        text-align: center;
        color: $white;
        font-weight: 500;
        margin-bottom: 50px;
    }
    &__list-item{
        position: relative;
        background-color: $white;
        cursor: pointer;
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
    &__list-item-content{
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        position: relative;
        &:before{
            display: block;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            transition: width 0.3s ease, background-color 0.3s ease;
            background-color: $red96;
        }
        &--active{
            .steps__list-title{
                h3{
                    color: $white;
                }
            }
            &:before{
                width: 100%;
            }
        }
    }
    &__list-item-wrp{
        pointer-events: none;
        display: flex;
        @media (max-width: $sm){
            padding-left: 15px;
        }
    }
    &__number{
        background-color: $red96;
        width: 48px;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        flex-shrink: 0;
        position: relative;
        span{
            pointer-events: none;
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $white;
        }
        @media (max-width: $sm) {
            display: none;
        }
    }
    &__list-title{
        padding: 12px 0 12px 0;
        position: relative;
        h3{
            transition: color 0.3s ease-in-out;
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: $black33;
            padding-right: 20px;
        }
    }
    &__text{
        position: relative;
        display: none;
        padding: 20px 20px 25px 30px;
        overflow: hidden;
        transition: all .5s;
        p{
            font-size: 1.6rem;
            line-height: 1.9rem;
            color: $black33;
        }
        &--show{
            display: block;
        }
    }
    &__btn-more{
        position: relative;
        flex-shrink: 0;
        height: 24px;
        width: 24px;
        &::before, &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $red96;
            transition: transform 0.3s ease, background-color 0.3s ease-in-out;;

        }
        &:before{
            top: 12px;
            right: 0;
        }
        &::after{
            top: 12px;
            right: 0;
            transform: rotate(90deg);
        }
        &--active{
            &:before{
                background-color: $white;
            }
            &::after{
                background-color: $white;
                transform: rotate(0);
            }
        }
    }
    &__video{
        iframe{
            width: 100%;
            height: 285px;
            @media(max-width: $lg){
                height: 350px;
            }
            @media(max-width: $sm){
                height: 245px;
            }
        }
        @media(max-width: $lg){
            margin-top: 15px;
        }
    }
}